version: "3.9"

services:
  project-service:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "6001:6001"
    volumes:
      - ../firebase-cred.json:/app/firebase.json
    environment:
      JSON_PATH: "/app/firebase.json"
      DATABASE_URL: "https://spm-g7t1-default-rtdb.asia-southeast1.firebasedatabase.app/"

