services:

  kong-config-generator:
    image: alpine:latest
    volumes:
      - ./kong/config:/config
      - ./kong.yml.template:/kong.yml.template
    environment:
      - PROJECT_SERVICE_URL=${PROJECT_SERVICE_URL}
      - TASK_SERVICE_URL=${TASK_SERVICE_URL}

    command: >
      sh -c "
        apk add --no-cache gettext &&
        envsubst < /kong.yml.template > /config/kong.yml &&
        echo 'Kong configuration generated successfully!'
      "
 
  kong:
    image: kong:latest
    container_name: kong
    restart: always
    depends_on:
      - kong-config-generator
    ports:
      - "8000:8000" # Proxy port
      - "8001:8001" # Admin API port
      - "8443:8443" # Proxy HTTPS port
      - "8444:8444" # Admin API HTTPS port
    environment:
      KONG_DATABASE: "off"
      KONG_DECLARATIVE_CONFIG: "config/kong.yml"
      KONG_ADMIN_LISTEN: "0.0.0.0:8001, 0.0.0.0:8444 ssl"

    volumes:
      - ./kong/config:/config
  project-service:
    build:
      context: ./project-service
      dockerfile: Dockerfile
    ports:
      - "6001:6001"
    volumes:
      - ./firebase-cred.json:/app/firebase.json:ro
    environment:
      JSON_PATH: "/app/firebase.json"
      DATABASE_URL: "https://spm-g7t1-default-rtdb.asia-southeast1.firebasedatabase.app/"
  task-service:
    build:
      context: ./task-service
      dockerfile: Dockerfile
    ports:
      - "6002:6002"
    volumes:
      - ./firebase-cred.json:/app/firebase.json:ro
    environment:
      JSON_PATH: "/app/firebase.json"
      DATABASE_URL: "https://spm-g7t1-default-rtdb.asia-southeast1.firebasedatabase.app/"